# Common
# ipython -> makes fire slow...

ruamel.yaml==0.13.11
git+https://github.com/google/python-fire.git#egg=fire
pip>=0.9
requests
coloredlogs
h5py

# general
scipy==0.19.0

# m_audio
git+https://github.com/jameslyons/python_speech_features#egg=python_speech_features

# m_www
jinja2==2.9
markdown2
