/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}
#titlebar {
  visibility: collapse;
}
#sidebar-header {
  visibility: collapse !important;
}
/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}/* leaves space for the window buttons */

#nav-bar {
    margin-top: -5px;
    margin-bottom: -5px;
}
