[color]
	ui = true
[credential]
	helper = osxkeychain
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[user]
  name = paul
  email = ppymou@gmail.com
[core]
  editor = /usr/local/bin/mvim -v
[grep]                                                                                                                           
  linenumber = true 
