bundle/
.vim/.netrwhist
.DS_STORE
.ssh
.vim
keys
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/secret/foo.txt
/secret/cert/ppycom.pem
/secret/cert/sloth.pem
/secret/key/do_rsa
/secret/key/droplet_rsa
/secret/key/gitlab_rsa
/secret/key/personal_rsa
*.pyc
*.swp
/secret/gh_graphql.txt
/secret/cert/LightsailDefaultPrivateKey-eu-central-1.pem
/secret/cert/LightsailDefaultPrivateKey-eu-west-1.pem
*.wav
/secret/key/ireland1.pem
/secret/key/whatupdave.pem
flake8
yapf
