[color]
	ui = true
[credential]
	helper = osxkeychain
[alias]
  st = status
  ci = commit
  bb = branch
  co = checkout
  df = diff
  lg = log -p
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[user]
  name = paul
  email = ppymou@gmail.com
[core]
  editor = /usr/local/bin/mvim -v
[grep]                                                                                                                           
  linenumber = true 
