bundle/
.vim/.netrwhist
.DS_STORE
.ssh
*.sw*
venv
**/__*
!__init__.py
**/.tern-project
*~
.DS_Store
*.swp
**/.cache
**/.*
apps/action-scale/test.json
**/ki_gore.zip
**/ki_gore2.zip
ops/docker/prometheus
